.body{ 
    background-color: #F4F7F8;
}

header{
    width: 100vw;
    height: 15vh;
    font-weight: 100;
    background-color: #08111f;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 800px;

}
    nav a{
        text-decoration: none;
        color: white;
    }

h1{
    color: #00c3ff;
    justify-content: center;
    /* align-items: center; */
}

nav{
    display: flex;
    color: white;
    gap: 20px;
    justify-content: center;
    align-items: center;}

h2{
    /* margin: 50px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:xx-large;
    padding: auto;
}

p{
    /* margin: 50px; */
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.her-desc a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #00c3ff;
    color: white;
    font-size: 1.3rem;
    border: 30px;
}

.div-class{
    margin-bottom: 50px;
}
.div-class h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    margin-top: 50px;
}
.class-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px
}
.class-box{
    width: 350px;
    height: 300px;
    background-color: white;
    box-shadow: 0px 4px 8px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.class-small-box{
    text-align: center;
    padding: 10px;
}


.responsive-footer {
    width: 100%;
    height: 100px;
    background-color: #08111f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin-top: 50px;
    gap: 10px;
}

h6 {
    margin: 0;
    color: white;
}
